.card{
    width: 300px;
    height: 6rem;
    
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;

    border: 1px solid var(--color-white);
    padding: 1rem;
    border-radius: var(--round);
}